:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.bannerList{
  display: grid;
  grid-template-columns: repeat(4,2fr);
  gap: 10px;
  padding: 40px;
}

.banner{
  height: auto;
  width: 200px;
  color: black;
  border: 2px double green;
  padding: 10px;
}
.banner h1,h2{
  font-size: x-large;
}
table{
  background-color: #14adff;
  align-items: center ;
  justify-content: center;
  width: 100%;
  border: 1px solid brown;
}

table th{
  color: #08060d;
  width: 100px;
  border: 1px solid black;
}
table td{
  color: #3707b0;
  justify-content: space-around;
  text-align: center;
  width: 100px;
  border: 1px solid black;
  font-size: medium;
}

table button{
  background-color: rgba(251, 221, 195, 0.833);
  margin: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  font-size: large;
}


form{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 90%;
  height: 400px;
  border: 1px double  ;
  border-width: 4px;
  border-left: 8px dotted rgb(128, 0, 0);

  padding: 20px;
  box-shadow: 5px 5px rgba(11, 10, 10, 0.474);
}

form input{
  background-image: linear-gradient(rgba(50, 219, 50, 0.427),rgba(235, 235, 20, 0.477));
  width: 400px;
  height: 30px;
  font-size: large;
  text-align: center;
  color: #aa3bff;
  /* background-color: rgba(237, 156, 50, 0.611); */
  border: 2px solid rgb(255, 220, 22);
  border-radius: 10px;

}
form select{
  background-image: linear-gradient(rgba(50, 219, 50, 0.427),rgba(235, 235, 20, 0.477));
  width: 400px;
  height: 30px;
  font-size: large;
  text-align: center;
  color: #aa3bff;
  /* background-color: rgba(237, 156, 50, 0.611); */
  border: 2px solid rgb(255, 220, 22);
  border-radius: 10px;

}

form button{
  background-color: yellow;
width: 400px;
  height: 30px;
  font-size: large;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgb(154, 3, 255);
  border-radius: 10px;

}

form h1{
  color: #2e303a;
  font-family: 'Times New Roman', Times, serif;
}
.btn{
  height: 30px;
  width: 150px;
  
  
}
.btn a{
  text-align: center;
  text-decoration: none ;
  color: #020103;
  font-size: large;
  cursor: pointer;
}




video{
  border: 5px double rgb(128, 0, 115);
  border-radius: 10px;
}

.vidControls{
  width: 100%;
  display: flex;
  justify-content: center;
  
  /* gap: 0px; */
}

.vidControls button{
  margin: 5px;
  color: #020103;
  box-shadow: 2px 2px violet;
cursor: pointer;
background-color: #ff005190;
}

@media (max-width:850px) {
  
  .bannerList{
    padding: 10px;
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap: 10px;
}
}
@media (max-width:700px) {
  
  .bannerList{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
}
@media (max-width:500px) {
  
  .bannerList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.banner{
  height: auto;
  width: 100%;
  color: black;
  border: 2px double green;
  display: flex;

}
.banner h1,h2{
  font-size: medium;
}
}
